{% extends 'base.html.twig' %}

{% block title %}{{ 'Connexion'|trans }}{% endblock %}

{% block body %}
<main class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 mt-3 alert alert-light">
                {{ 'Vous êtes connecté en tant que '|trans }}  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'Déconnexion'|trans }}</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'Connexion'|trans }}</h1>
        <label for="inputEmail">{{ 'Email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">{{ 'Mot de passe'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary mt-3 mb-4" type="submit">
            {{ 'Connexion'|trans }}
        </button>

    </form>

    <a href="{{path('app_register')}}">{{ 'Pas de compte ? Inscrivez-vous.'|trans }}</a>

    <div class="ult d-flex flex-column">
    <span class="label mt-2 mb-1">{{ 'Connectez-vous avec :'|trans }}</span>
    <a href="{{ path("connect_google") }}">
        <div class="google-btn">
        <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
        <p class="btn-text"><b>Sign in with google</b></p>
        </div>
    </a>
    <a href="{{path('connect_github_start')}}" class="mt-2">
        <div class="github-btn">
        <div class="github_icon">
            <i class="fa-brands fa-github text-black"></i>
        </div>
        <p class="btn-text text-black"><b>Sign in with Github</b></p>
        </div>
    </a>
    </div>
</main>
{% endblock %}
