{% extends 'base.html.twig' %}

{% block title %}{{ 'Liste de taches'|trans }}{% endblock %}

{% block body %}
<style>
    .list{
        width : 95%;
        margin: auto;
        margin-top: 30px;
    }
</style>

<div class="list">
        {% if tasks.items %}
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
            <th scope="col">{{ 'Nom de tâche'|trans }}</th>
            <th scope="col">{{ 'Description'|trans }}</th>
            <th scope="col">{{ 'Catégorie'|trans }}</th>
            <th scope="col" >{{ 'Date limite'|trans }}</th>
            <th scope="col" >{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.category}}</td>
                <td>{{task.deadline|date("d/m/Y")}}</td>
                <td>
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{task.id}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{task.id}}">
                        <a class="dropdown-item" href="{{ path('app_editTask', {"id" : task.id}) }}">{{ 'Modifier'|trans }}</a>
                        <a class="dropdown-item text-danger" href="{{path('app_deleteTask', {"id" : task.id})}}">{{ 'Supprimer'|trans }}</a>
                    </div>
                    </div>
                </td>
                </tr>
            {% endfor %}
        
        
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tasks) }}
    </div>
        {% else %}
            <div class='alert alert-light'>{{ "Vous n'avez pas de tâches"|trans }}</div>
        {% endif %}

    <div id="addButton">
        <a type="button" href="{{path('app_addTask')}}" class="btn btn-info">{{ 'Insérer une nouvelle tâche'|trans }}</a>
    </div>
</div>


{% endblock %}
